.is-flex { display: flex; }
.is-block { display: block; }
.is-inline { display: inline; }
.is-inline-block { display: inline-block; }
.is-inline-flex { display: inline-flex; }
.is-grid { display: grid; }
.is-table { display: table; }

.is-content-justified-at-start { justify-content: start; }
.is-content-justified-at-end { justify-content: end; }
.is-content-justified-at-flex-start { justify-content: flex-start; }
.is-content-justified-at-flex-end { justify-content: flex-end; }
.is-content-justified-centered { justify-content: center; }
.is-content-justified-left { justify-content: left; }
.is-content-justified-right { justify-content: right; }
.is-content-justified-between { justify-content: space-between; }
.is-content-justified-around { justify-content: space-around; }
.is-content-justified-evenly { justify-content: space-evenly; }

.ml-0 { margin-left: 0; }
.ml-1 { margin-left: calc(var(--spacer, 1rem) * .25); }
.ml-2 { margin-left: calc(var(--spacer, 1rem) * .5); }
.ml-3 { margin-left: calc(var(--spacer, 1rem)); }
.ml-4 { margin-left: calc(var(--spacer, 1rem) * 1.5); }
.ml-5 { margin-left: calc(var(--spacer, 1rem) * 3); }

.mt-0 { margin-top: 0; }
.mt-1 { margin-top: calc(var(--spacer, 1rem) * .25); }
.mt-2 { margin-top: calc(var(--spacer, 1rem) * .5); }
.mt-3 { margin-top: calc(var(--spacer, 1rem)); }
.mt-4 { margin-top: calc(var(--spacer, 1rem) * 1.5); }
.mt-5 { margin-top: calc(var(--spacer, 1rem) * 3); }

.mr-0 { margin-right: 0; }
.mr-1 { margin-right: calc(var(--spacer, 1rem) * .25); }
.mr-2 { margin-right: calc(var(--spacer, 1rem) * .5); }
.mr-3 { margin-right: calc(var(--spacer, 1rem)); }
.mr-4 { margin-right: calc(var(--spacer, 1rem) * 1.5); }
.mr-5 { margin-right: calc(var(--spacer, 1rem) * 3); }

.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: calc(var(--spacer, 1rem) * .25); }
.mb-2 { margin-bottom: calc(var(--spacer, 1rem) * .5); }
.mb-3 { margin-bottom: calc(var(--spacer, 1rem)); }
.mb-4 { margin-bottom: calc(var(--spacer, 1rem) * 1.5); }
.mb-5 { margin-bottom: calc(var(--spacer, 1rem) * 3); }